@font-face {
    font-family: "myFont";
    src: url("./images/bonus/kenvector_future.ttf");
}
.canvas {
    position:absolute;
    left:50%;
    transform:translate(-50%, 0%);
}
.text {
    z-index: 100;
    color:aliceblue;
    background-color: black;
    position: relative;
    font-family: "myFont";
}
.button {
    font-family: "myFont";
    font-size: large;
    color: aliceblue;
    padding: 8px;
    border-color: aliceblue;
    background-color: black;
    border-radius: 10px;
}
#playerHealth {
    float: left;
    margin-left: 20px;
    top:40px;
    font-size: large;
}
#score {
    float: right;
    top:40px;
    font-size: large;
}
#kennyNotice {
    margin:auto;
    width:50%;
    text-align: center;
}
#HUD {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}
#instrux {
    margin:auto;
    width:800px;
    transform:translate(10px, 649px);
    text-align:center;
}